/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  p {
    text-indent: 2em;
  }
  ol {
    padding-left: 2em;
  }
  ul {
    padding-left: 2em;
  }
  code {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
  }
}
